#top {
    color: orangered;
    font-family: cursive;
    font-weight: bolder;

}
#about-id {
    font-family:cursive;
    font-size: large;
    text-align: right;
    position:absolute;
    top: 20px;
    right: 20px;

}
#top-elements {
    font-family: cursive;
    color: brown;
}
#recipeList {
    font-family: cursive;
}
#about {
    font-family: cursive;
    font-size: large;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#paragraph {
    font-family: cursive;
    font-size: xx-large;
    color: black;
}
body {
    font-family: sans-serif;
    background-color: lightgray;
}
#portfolio-body {
    background-color: lightgray;
}
#portfolio-title {
    color: cadetblue;
    font-family: cursive;
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
}
.header {
    color: darkcyan;
    /* text-decoration: underline; */
    font-family: cursive;
}
#name-id {
    color: darkblue;
    font-style: italic;
    font-size: 2.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 5px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.797);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
.footer-class {
    color: darkcyan;
    text-decoration: underline;
    font-style: italic;
    bottom:0%;
    /* position: absolute; */
    position: fixed;
}
.flex-container {
    display: flex;
    background-color: yellowgreen;
}

.flex-container > div {
    background-color:whitesmoke;
    margin: 5px;
    padding: 5px;
    font-size: 5px;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    color: black;
  }
  .closebtn {
    float: right;
    color: black;
    font-size: 35px;
    cursor: pointer;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
ul li { margin-bottom: 10px; }
ol li { margin-bottom: 10px; }


