#top {
    color: orange;
    font-family: cursive;

}
#about-id {
    font-family: cursive;
}
#paragraph {
    font-family: cursive;
    font-size: xx-large;
    color: black;
}
body {
    font-family: sans-serif;
    background-color: lightgray;
}
#portfolio-body {
    background-color: lavender;
}
#portfolio-title {
    color: darkblue;
    font-style: italic;
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
}
.header {
    color: darkcyan;
    /* text-decoration: underline; */
    font-style: italic;
}
.footer-class {
    color: darkcyan;
    text-decoration: underline;
    font-style: italic;
    bottom:0%;
    /* position: fixed; */
}
#name-id {
    color: darkblue;
    font-style: italic;
    font-size: 2.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.797);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.flex-container {
    display: flex;
    background-color: yellowgreen;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    font-size: 10px;
}
/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 50px;
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
ul li { margin-bottom: 10px; }
ol li { margin-bottom: 10px; }


